.card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .details {
  margin: 10px;
}
.card .details h2 {
  font-size: 600;
}

.card .details p {
  text-transform: uppercase;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.card-content {
  font-size: 1em;
  color: #333;
}